---
title:      "Find your way to Plasma Mobile"
created_at: 2018-06-06 08:15:00 UTC
author:     Bhushan Shah
layout:     post
---
<h3 id="find-your-own-way-to-help-develop-plasma-mobile"><a href="https://www.plasma-mobile.org/findyourway/">Find your own way</a> to help develop Plasma Mobile</h3>

<p>The Plasma Mobile project was started by the KDE community with the goal of becoming a free, user-friendly, privacy-enabling and customizable platform for mobile devices. We are always on the look out for more contributors to help push Plasma Mobile forward. However contributions to Plasma Mobile has high entry barrier due to various reasons, among which are the lack of documentation and easily available open tasks for Plasma Mobile.</p>

<p>One of the goals KDE community has set itself is to <a href="https://phabricator.kde.org/T7116">streamline the onboarding of new contributors</a>. With this goal in mind, we intend to solve the issue of the high entry barrier for contributors that affects the Plasma Mobile project and, along with KDE Promo team, we have set up various tasks:</p>

<ul>
  <li><a href="https://phabricator.kde.org/T7770">Grow the number of developers and community support for Plasma Mobile</a></li>
  <li><a href="https://phabricator.kde.org/T7771">Grow Plasma Mobile: Collect data</a></li>
  <li><a href="https://phabricator.kde.org/T7790">Grow Plasma Mobile: Goal: Onboarding of new contributors</a></li>
</ul>

<p>While working on one of tasks to collect data we <a href="https://phabricator.kde.org/T7779">learned that users want an easy way to test Plasma Mobile</a> and, to meet this requirement, we worked on the <a href="https://blog.bshah.in/2018/01/26/trying-out-plasma-mobile/">easily installable images</a> <a href="https://blog.bshah.in/2018/02/02/trying-out-plasma-mobile-part-two/">which can be tested on either a virtual machine or on real hardware</a>. Check out the two parts series we wrote about that. You can find out how to do this in <a href="https://blog.bshah.in/2018/01/26/trying-out-plasma-mobile/">part 1</a> and <a href="https://blog.bshah.in/2018/02/02/trying-out-plasma-mobile-part-two/">part 2</a> of our blog post on the subject.</p>

<p>Like the rest of the KDE community, Plasma Mobile is using Phabricator to track and manage the task list. You can find the following tasks on Phabricator:</p>

<ul>
  <li>Plasma Mobile <a href="https://phabricator.kde.org/tag/plasma%3A_mobile/">project board</a>, which includes all tasks.</li>
  <li>Plasma Mobile <a href="https://phabricator.kde.org/project/profile/247/">PM 1.0 milestone</a> which includes the tasks needed  to be done to get Plasma Mobile to a basic 1.0 state.</li>
  <li>Plasma Mobile <a href="https://phabricator.kde.org/project/view/248/">PM 2.0 milestone</a> which builds upon the functionality provided in the 1.0 milestone.</li>
</ul>

<p>We realised that for new contributors these tasks can be hard to find and difficult to navigate through. To help with this we created another task to help potential contributors <a href="https://phabricator.kde.org/T8806">easily find the tasks they can work on</a>. Thanks to Dimitris Kardarakos, we now have a web-page on plasma-mobile.org which provides a set of question-answer nodes and leaf nodes pointing to various phabricator tasks. This system is <a href="https://github.com/jdm/asknot">based on the code</a> used by Mozilla to power similar website.</p>

<p><img src="/img/cache/_img_cache_https:__blog.bshah.in_images_plasma-mobile-find-your-way.png" alt="Find your way webpage" /></p>

<p>You can navigate through various tasks and TODO items from <a href="https://www.plasma-mobile.org/findyourway/">https://www.plasma-mobile.org/findyourway/</a>.</p>

<p>In addition to make the tasks easy to reach, we have also worked on revamping the existing Phabricator tasks. See <a href="https://phabricator.kde.org/T6942">T6942</a>, for example, that asks that someone create a calendar app for Plasma Mobile. An earlier version of this task didn’t contain much useful information on how such an application could be created. The task was edited to include more information on which libraries you can use, references, knowledge requirements and system requirements for developing and testing such an application.</p>

<p><img src="/img/cache/_img_cache_https:__blog.bshah.in_images_plasma-mobile-calender-task.png" alt="Task difference" /></p>

<p>We hope this will make it easier for you to get involved in the Plasma Mobile project. In order to make it easier for you develop and test applications, we are also <a href="https://community.kde.org/Plasma/Mobile/DevGuide">working on the developer guide</a>. I will announce it here when the guide is completed (<em>spolier alert: easy to use docker images to test your applications</em>). You can send questions by contacting us on Matrix at <a href="https://matrix.to/#/#plasmamobile:matrix.org">#plasmamobile:matrix.org</a> or over IRC at <a href="irc://chat.freenode.net/#plasma">irc://chat.freenode.net/#plasma</a> or over email at <a href="mailto:plasma-mobile@kde.org">plasma-mobile@kde.org</a>. We will be happy to listen to your feedback.</p>

<p>Looking forward to your contributions!</p>