<!DOCTYPE html>
<html>

	{% include head.html %}

	<body class="home page-template-default page page-id-29 wide siteorigin-panels siteorigin-panels-before-js siteorigin-panels-home mega-menu-primary">

		{% include header.html %}

		<div id="content">

			<div class="quest-row site-content">
				<div class="container">
					<div class="row">

						<div id="primary" class="content-area single col-md-12">
							<main id="main" class="site-main" role="main">

								{{ content }}

							</main>
							<!-- #main -->
						</div>
						<!-- #primary -->

					</div>
					<!-- .row -->
				</div>
				<!-- .container -->
			</div>
			<!-- .quest-row -->
		</div>
		<!-- #content -->

		{% include footer.html %}

		<!-- Full width for the index page -->
		<script type='text/javascript'>
			var panelsStyles = {"fullContainer":"body"};
		</script>
		<script type='text/javascript' src='/plugins/siteorigin-panels/js/styling-2516.min.js'></script>

		<!-- Open panel menus on hover -->
		<script type='text/javascript' src='/js/hoverIntent.min.js'></script>
		<script type='text/javascript'>
			var megamenu = {"timeout":"300","interval":"100"};
		</script>

		<!-- back to top arrow -->
		<a href="#0" class="cd-top"><i class="fa fa-angle-up"></i></a>

		<!-- Mobile menu -->
		<script type='text/javascript' src='/plugins/megamenu/js/maxmegamenu.js'></script>
	</body>
</html>
