<!DOCTYPE html>
<html>

	{% include head.html %}

	<body>

		{% include header.html %}

		{{ content }}
        
        {% include footer.html %}

        <script src="/js/findyourway/handlebars.runtime.js"></script>
        <script src="/js/findyourway/way.js"></script>
        <script src="/js/findyourway/displayRender.js"></script>
        <script src="/js/findyourway/foopy.js"></script>
        <script src="/js/findyourway/l10n.js"></script>
    
	</body>
    
</html>
